<link
  href="https://cdn.jsdelivr.net/gh/uiteung/hris-dev@0.0.3/static/css/style.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/uiteung/hris-dev@0.0.3/static/css/style.css"
/>
<link
  href="https://cdn.jsdelivr.net/gh/uiteung/hris-dev@0.0.3/static/css/app.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/gh/uiteung/hris-dev@0.0.3/static/js/app.js"></script>
<script
  src="https://cdn.jsdelivr.net/gh/uiteung/hris-dev@0.0.3/static/js/style/style.js"
  defer
></script>
<!-- Start HTML -->
<!-- <li class="sidebar-header">
  Dashboard
  <i
    class="fa fa-fw fa-check-square-o"
    style="
      background-color: #ffffff;
      color: rgb(255, 0, 0);
      padding: 2px 5px;
      border-radius: 5px;
      font-size: 6.5px;
    "
    >Maintenance</i
  >
</li>

<li class="sidebar-item active">
  <a class="sidebar-link" href="../index.html">
    <i class="align-middle" data-feather="sliders"></i>
    <span class="align-middle">Dashboard SDM</span>
  </a>
</li> -->

<li class="sidebar-header">
  Penggajian
  <i
    class="fa fa-fw fa-check-square-o"
    style="
      background-color: #ffffff;
      color: rgb(255, 0, 0);
      padding: 2px 5px;
      border-radius: 5px;
      font-size: 6.5px;
    "
    >Testing BETA</i
  >
</li>

<li class="sidebar-item">
  <a class="sidebar-link" href="../app/master-data.html">
    <i class="align-middle" data-feather="bar-chart-2"></i>
    <span class="align-middle">Master Data</span>
    <!-- <i class="fa fa-fw fa-check-square-o" style="background-color: #ffffff; color: rgb(255, 0, 0); padding: 2px 5px; border-radius: 5px; font-size: 6.5px;">Maintenance</i> -->
  </a>
</li>

<li class="sidebar-item">
  <!-- <a class="sidebar-link" href="../app/rekapan-presensi.html"> -->
  <a class="sidebar-link" href="../../app/validasi-data.html">
    <i class="align-middle" data-feather="check"></i>
    <span class="align-middle"
      >Dashboard Validasi Data
      <!-- <i class="fa fa-fw fa-check-square-o" style="background-color: #ffffff; color: rgb(255, 0, 0); padding: 2px 5px; border-radius: 5px; font-size: 7px;">Testing BETA</i> -->
    </span>
  </a>
</li>

<li class="sidebar-item">
  <!-- <a class="sidebar-link" href="../app/rekapan-presensi.html"> -->
  <!-- <a class="sidebar-link" href="../../app/validasi-dataHonor.html">
    <i class="align-middle" data-feather="award"></i>
    <span class="align-middle">Dashboard Validasi Data Honor Mengajar
      <i class="fa fa-fw fa-check-square-o" style="background-color: #ffffff; color: rgb(255, 0, 0); padding: 2px 5px; border-radius: 5px; font-size: 7px;">Testing BETA</i> 
    </span>
  </a> -->
</li>

<li class="sidebar-item">
  <!-- <a class="sidebar-link" href="../app/rekapan-presensi.html"> -->
  <!-- <a class="sidebar-link" href="./app/validasi-dataHonor.html">
    <i class="align-middle" data-feather="award"></i>
    <span class="align-middle">Dashboard Validasi Data Honor Dosen Wali
      <i class="fa fa-fw fa-check-square-o" style="background-color: #ffffff; color: rgb(255, 0, 0); padding: 2px 5px; border-radius: 5px; font-size: 7px;">SOON</i>
    </span>
  </a> -->
</li>

<li class="sidebar-item">
  <!-- <a class="sidebar-link" href="../app/rekapan-presensi.html"> -->
  <!-- <a class="sidebar-link" href="./app/validasi-dataHonor.html">
    <i class="align-middle" data-feather="award"></i>
    <span class="align-middle">Dashboard Validasi Data Honor Asessment
      <i class="fa fa-fw fa-check-square-o" style="background-color: #ffffff; color: rgb(255, 0, 0); padding: 2px 5px; border-radius: 5px; font-size: 7px;">SOON</i>
    </span>
  </a> -->
</li>

<li class="sidebar-item">
  <!-- <a class="sidebar-link" href="../app/rekapan-presensi.html"> -->
  <a class="sidebar-link" href="../../app/history-data.html">
    <i class="align-middle" data-feather="file-text"></i>
    <span class="align-middle"
      >History Permintaan Slip Gaji
      <!-- <i class="fa fa-fw fa-check-square-o" style="background-color: #ffffff; color: rgb(255, 0, 0); padding: 2px 5px; border-radius: 5px; font-size: 7px;">Testing BETA</i> -->
    </span>
  </a>
</li>
